
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Arial", sans-serif;
}

/*flexbox*/
body{
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*components*/
#maindiv{
    background: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 10px 10px 20px -10px;
    width: 40vw;
    max-width: 40vh;
    min-width: 495px;
    min-height: 30px;
    max-height: 70vh;
}

#maindiv button{
    border-radius: 5px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background: linear-gradient( to bottom, white 0%, #e2e2e2 100% );
    border: 1px solid lightgrey;
    font-weight: 600;
    color: grey;
    width: 15%;
}


#maindiv input[type="text"]{
    padding: 0.5em;
    margin-right: 10px;
    border-radius: 5px;
    width:65%;
    border: 1px solid lightgrey;
    color: #424242;
    font-weight: 500;
}


/* user*/

#result img{
    float: left;
    width: 22%;
    border-radius: 20px;
    margin-right: 1em;
}

/*result div class for error*/
.error{
    background-color: #DFA7A7;
    color: #7C1010;
    border-color: #7C1010;
    margin-top: 1em;
    border-radius: 6px;
    padding: 1em;
}

/*result div class for success*/
.success{
    border-radius: 10px;
}

/*rep title*/
#repoTitle{
    display: none;

}

/*repos*/
#repos{
    display: none;
    max-height: 35vh;
}

.reposuccess{
    margin-top: 3em;
    overflow-y: scroll;
}

.repoerror{
    background-color: indianred;
    color: white;
    margin-top: 5em;
    border-radius: 10px;
    padding: 1em;
}

.repo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repo span{
    margin-left: 20px;
}

.repo span img{
    width: 20px;
}

::-webkit-scrollbar { 
    display: none; 
}